#content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5%;
   width: 100%;
 
}
#faq {
    font-style: bold;
    text-align: center;
    width: 100%;
    font-family: Worksans;
    padding-top: 20px;
    padding-bottom: 2.5%;
}

#return {
   padding: 5% 10% 5% 10%;
   text-align: center;
   background-color: rgb(243, 235, 235);
  
}

#customize {
   padding: 5% 10% 5% 10%;
   text-align: center;
   background-color: #9EECFF;
}

#time {
   padding: 5% 10% 5% 10%;
   text-align: center;
   background-color: rgb(243, 235, 235);
   
}

#appointment {
   padding: 5% 10% 5% 10%;
   text-align: center;
   background-color: #9EECFF;
}

#warranty {
   padding: 5% 10% 5% 10%;
   text-align: center;
   background-color: rgb(243, 235, 235);
 
}

#return li, #customize li, #time li, #appointment li, #warranty li {
   text-transform: uppercase;
   font-weight: bold;
}

#content p{
   margin-top: 3%;
}