:root{
    --bgcolor: white;
    --maincolor: black;
    --textcolor: #5b5c5c;
    --spcolor: #9EECFF;
    --border-radius: 4px;
}

@font-face {
    font-family: Worksans;
    src: url('Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: var(--bgcolor);
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

main{
    min-height: 400px;
}

*{
    font-family: Worksans;
    color: var(--textcolor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body
{
    font-family: "Open Sans",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.textp{
font-size: medium;
width: auto;
height: auto;
padding: 3%;

}
.main-parent
{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-parent .form-wrap
{
    width: 700%;
    max-width: 40%;
    margin: 5rem;
    padding: 2%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}
.form-wrap form h1
{
    font-family: 'Acme', sans-serif;
    font-variant: small-caps;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
}
.form-wrap form h1 span
{
    font-variant: small-caps;
}
.form-wrap form .single-input input
{
    width: 100%;
    padding: 20px 15px;
    border: 1px solid rgba(0, 0, 0, 0.3521);
    outline: none;
    background: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.form-wrap form .submit-button
{
    text-align: center;
}
.form-wrap form .submit-button button.button
{
    float: right;
    border: none;
    outline: none;
    background:var(--spcolor);
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.form-wrap form .account-have
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}
.form-wrap form .account-have a
{
    text-decoration: none;
}